.footer{
    
    background-color: black;
    width: 100%;
}

.title_footer{
    margin: auto;

    max-width: 1200px;
    margin-top: 100px;
    border-bottom: 1px solid #4D4D4D;
}

.text_footer{
    color: #FFFFFF;
}
.container_ventajas{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
    border-bottom: 1px solid #4D4D4D;
}
.ventajas{
    font-size: 2.5rem;
}
.text_conectate{
    
    font-size: 2.5rem;
    color: red;
}

.flecha:hover{
    cursor: pointer;
    margin-left: 10px;
}

.footer_coin{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    max-width: 1200px;
}

.container_descuento{
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 120px;
}
.desc{
    width: 40px;
}

.conectado{
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
    border-bottom: 1px solid #4D4D4D;
}


.container_publi{
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.publi1{
    background-image: url(./../assets/images/OneplusStore.jpg);
    background-repeat: no-repeat;
    background-position: right;
    width: 570px;
    border-radius: 0.2rem;
    background-color: #0D0D0D;
}
.publi2{
    background-image: url(./../assets/images/Subscribete.jpg);
    background-repeat: no-repeat;
    background-position: right;
    width: 570px;
    border-radius: 0.2rem;
    background-color: #0D0D0D;
}
.title_publi{
    margin-top: 30px;
    margin-left: 30px;
    max-width: 300px;
    color: white;
}

.text_publi{
    margin-top: 40px;
    margin-left: 30px;
    color: #565656;
    max-width: 300px;
}
.text_footer-2{
    color: white;
    margin-left: 30px;
}
.google{
    margin-top: 120px;
    margin-left: 40px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 1px solid #565656;
    border-radius: 0.2rem;
}
.googleplay{
    font-size: 1.2rem;
    color: #FFFFFF;
}
.text_google{
    margin-top: 10px;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.container_footer_list{
   display: flex;
   margin: auto;
   margin-top: 20px;
   max-width: 1200px;
   justify-content: space-between;
   flex-wrap: wrap;
}

.container_lista{
   
    max-width: 240px;
    text-align: left;
}
.lista_footer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.li_footer{
    list-style: none;
    color: #7A7A7A;
}
.li_footer:hover{
    color: #FFFFFF;
    cursor: pointer;
}

.container_rrss{
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #565656;
}

.iconos_rrss{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sup{
    margin-top: 15px;
}
.rrss{
    color: #828282;
}
.rrss:hover{
    color: #FFFFFF;
    cursor: pointer;
}

.container_acuerdos{
    margin: auto;
    margin-top: 30px;
    max-width: 1200px;
    padding-bottom: 20px;
}
.ul_acuerdos{
   
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


