
.header{
    width: 100%;
    border-bottom: 1px solid #cccccc;
  
}
.container_header{
    
    max-width: 1800px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu{
    margin-top: 10px;
    
}
.menu_lista{
   display: flex; 
   flex-wrap: wrap;
   gap: 30px;
}
.menu_li{
    list-style: none;
    font-weight: 400;
    
    
}
.menu_li:hover{
    cursor: pointer;
    border-bottom: 1px solid #F50514;
}


.container_header_icons{
    display: flex;
    gap: 15px;
}

.icons{
    width: 20px;
}
.icons:hover{
    cursor: pointer;
    border-bottom: 1px solid #F50514;
}

.enlace{
    text-decoration: none;
    color: black;
}